/* Muestra a la derecha im치genes cuyo alt termine en ">" */
img[alt$=">"] {
    float: right;
}

/* Muestra a la izquierda im치genes cuyo alt termine en "<" */
img[alt$="<"] {
    float: left;
}

/* Formato general para im치genes */
img {
    display: block;
    padding-left: 30%;
    padding-right: 30%;
    height: auto;
    margin: auto;
    float: none !important;
}

/* Anchura para rejillas (por ejemplo, el panel central de la p치gina */
.md-grid {
    max-width: initial;
}
